body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(AwakeningSTEMLogo.png) no-repeat center center fixed;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color: white;
}
hr{
	border-color:#d39e00;
	border-width: 3px;
	max-width: 65px;
}


}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-xl{
	padding:1rem 2rem;

}
.btn-outline-warning:hover{
	border-width: 4px;

}
.buffer{
	height:1rem;
}
